{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_sortie</th>
                <th>DateDebut</th>
                <th>Duree</th>
                <th>DateCloture</th>
                <th>Nbinscriptionsmax</th>
                <th>Descriptioninfos</th>
                <th>EtatSortie</th>
                <th>UrlPhoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nomSortie }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbinscriptionsmax }}</td>
                <td>{{ sortie.descriptioninfos }}</td>
                <td>{{ sortie.etatSortie }}</td>
                <td>{{ sortie.urlPhoto }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
